<template name="unfilledOrders">
  <h3>Unfilled Orders</h3>
  <h4>
          <span class="num-field">PRICE Ξ</span>
          <span class="num-field">AMOUNT</span>
          <span class="num-field">VALUE Ξ</span>
  </h4>
  <div class="Dapp-overflow">
     <ul class="order-list unfilled">
      {{#each unfilledOrders}}
      <li class="priceQuote">
        <button class="cancel modal {{swap}}">
          <span class="num-field">{{price}}</span>
          <span class="num-field">{{amount}}</span>
          <span class="num-field">{{value}}</span>
        </button>
      </li>
      {{/each}}
    </ul>
 </div>
</template>

<template name="confirmCancel">
  <h3>Cancel Order</h3>
  Do you wish to cancel your {{swap}} order on {{name}}?<br>
  &Xi;{{price}} <br>
  {{amount}} {{symbol}}
</template>